@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");
:root {
  --black:#2c2c54;
  --orange:#ff9f1a;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover {
  background: var(--orange);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  align-items: center;
  width: 70px;
  color: var(--black);
  margin-right: 20px;
}
header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}
header .navbar a:hover {
  color: var(--orange);
}
header .icons {
  display: flex;
  align-items: center;
}
header .icons a {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--black);
}
header .icons a:hover {
  color: var(--orange);
}
header #menu-bar {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid var(--black);
  color: var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}

header .search-form {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
header .search-form .search {
  position: absolute;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}
header .search-form .search i {
  font-size: 2rem;
}
header .search-form input {
  padding: 1rem 5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.4s;
}
header .search-form input:hover {
  box-shadow: inset 250px 0 10px 10px #eee;
}

header #search-btn {
  display: none;
}

section .login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .login-box .logo-img svg {
  width: 40%;
  color: #000;
  transform: translateX(90%);
}
section .login-box .logo p {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}
section .login-box form .siggin input {
  width: 100%;
  padding: 1rem 7rem;
  font-size: 2rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  text-align: center;
}
section .login-box form .singin-password input {
  width: 100%;
  padding: 1rem 7rem;
  font-size: 2rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  text-align: center;
}
section .login-box .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  margin: 1rem 0;
}
section .login-box .content a {
  color: #000;
  text-decoration: underline;
}
section .login-box .login-dn {
  text-align: center;
}
section .login-box .login-dn .dn {
  width: 100%;
  padding: 1rem 3rem;
  border: 0.1rem solid #000;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 2rem;
}
section .login-box .member {
  display: flex;
  transform: translateX(20%);
  margin: 1rem 0;
}
section .login-box .member pre {
  text-align: center;
  font-size: 1.7rem;
}
section .login-box .member p {
  cursor: pointer;
  font-size: 1.7rem;
  color: #000;
  margin: 0 1rem;
  text-decoration: underline;
}

section .login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .register .logo-img svg {
  width: 40%;
  color: #000;
  transform: translateX(90%);
}
section .register .logo p {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}
section .register form .siggin input {
  width: 100%;
  padding: 1rem 7rem;
  font-size: 2rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  text-align: center;
}
section .register form .singin-password input {
  width: 100%;
  padding: 1rem 7rem;
  font-size: 2rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  text-align: center;
}
section .register .login-dn {
  text-align: center;
}
section .register .login-dn .dn {
  width: 100%;
  padding: 1rem 3rem;
  border: 0.1rem solid #000;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 2rem;
}
section .register .member {
  display: flex;
  transform: translateX(20%);
  margin: 1rem 0;
}
section .register .member pre {
  text-align: center;
  font-size: 1.7rem;
}
section .register .member p {
  cursor: pointer;
  font-size: 1.7rem;
  color: #000;
  margin: 0 1rem;
  text-decoration: underline;
}

section .login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .Forgot-password .logo-img svg {
  width: 40%;
  color: #000;
  transform: translateX(90%);
}
section .Forgot-password .logo p {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}
section .Forgot-password form .siggin input {
  width: 100%;
  padding: 1rem 7rem;
  font-size: 2rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  text-align: center;
}
section .Forgot-password form .singin-password input {
  width: 100%;
  padding: 1rem 7rem;
  font-size: 2rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  text-align: center;
}
section .Forgot-password .login-dn {
  text-align: center;
}
section .Forgot-password .login-dn .dn {
  width: 100%;
  padding: 1rem 3rem;
  border: 0.1rem solid #000;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 2rem;
}
section .Forgot-password .member {
  display: flex;
  transform: translateX(20%);
  margin: 1rem 0;
}
section .Forgot-password .member pre {
  text-align: center;
  font-size: 1.7rem;
}
section .Forgot-password .member p {
  cursor: pointer;
  font-size: 1.7rem;
  color: #000;
  margin: 0 1rem;
  text-decoration: underline;
}

.active {
  display: none;
}

.footer .box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box-container .box a {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--orange);
}

.footer .box-container .credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}

.footer .box-container .credit span {
  color: var(--orange);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  header #menu-bar {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
  }
  header .navbar.active {
    left: 0;
  }
  .home .slide-container .slide .image .text {
    width: 60%;
  }
  .home #prev,
  .home #next {
    top: 85%;
  }
  header .search-form {
    position: absolute;
    top: -100%;
    z-index: -1;
    left: 0;
    right: 0;
  }
  header .search-form input {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }
  header #search-btn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
  }
  header #search-btn:hover {
    color: var(--orange);
  }
  header #heart {
    display: none;
  }
  header .search-form.active {
    top: 100%;
    z-index: -1;
  }
  header .logo svg {
    margin-left: 34px;
    width: 95%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .home .slide-container .slide .image {
    padding-bottom: 6rem;
  }
  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=login.css.map */