@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");
:root {
  --black:#2c2c54;
  --orange:#ff9f1a;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover {
  background: var(--orange);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  align-items: center;
  width: 70px;
  color: var(--black);
  margin-right: 20px;
}
header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}
header .navbar a:hover {
  color: var(--orange);
}
header .icons {
  display: flex;
  align-items: center;
}
header .icons a {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--black);
}
header .icons a:hover {
  color: var(--orange);
}
header #menu-bar {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid var(--black);
  color: var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}

header .search-form {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
header .search-form .search {
  position: absolute;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}
header .search-form .search i {
  font-size: 2rem;
}
header .search-form input {
  padding: 1rem 5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.4s;
}
header .search-form input:hover {
  box-shadow: inset 250px 0 10px 10px #eee;
}

header #search-btn {
  display: none;
}

.main {
  padding: 2rem 9%;
}
.main .main-container {
  margin-top: 10%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main-container .main-text {
  font-size: 2rem;
  font-weight: bolder;
}
.main .main-container .main-menu .filter-main-menu {
  z-index: 1000;
}
.main .main-container .main-menu .filter-main-menu .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  width: 200px;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}
.main .main-container .main-menu .filter-main-menu .select .item-filtem {
  font-size: 1.5rem;
  margin: 0 1rem;
}
.main .main-container .main-menu .filter-main-menu .select .icons-down i {
  font-size: 1.5rem;
}
.main .main-container .main-menu .filter-main-menu .main-menu-list {
  margin-top: 10px;
  border-radius: 1rem;
  width: 200px;
  position: absolute;
  padding: 1rem 3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  opacity: 0;
  max-height: 50%;
}
.main .main-container .main-menu .filter-main-menu .main-menu-list a p {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #fff;
  transition: 0.3s;
}
.main .main-container .main-menu .filter-main-menu .main-menu-list a p:hover {
  transform: translateX(10px);
}

.main .main-container .main-menu .filter-main-menu .main-menu-list.active {
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.hiden {
  transform: rotate(180deg);
}

section {
  margin-top: 5%;
  z-index: -1;
}
section .list-container {
  display: flex;
  position: relative;
  width: 100%;
}
section .list-container .list-menu {
  width: 20%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
section .list-container .list-menu .list-menu-size {
  padding: 0 2rem;
}
section .list-container .list-menu .list-menu-size .list-menu-size-select .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
section .list-container .list-menu .list-menu-size .list-menu-size-select .select .item-size-title {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: #000;
}
section .list-container .list-menu .list-menu-size .list-menu-size-select .select .icons-down i {
  font-size: 2rem;
  color: #000;
}
section .list-container .list-menu .main-menu-list-item {
  display: none;
}
section .list-container .list-menu .main-menu-list-item .main-menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section .list-container .list-menu .main-menu-list-item .main-menu-list a p {
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 1rem 2rem;
  color: #000;
  font-size: 1.5rem;
}
section .list-container .list-menu .main-menu-list-item .main-menu-list a p:active {
  background: #000;
  color: #eee;
}
section .list-container .list-menu .main-menu-list-item .main-menu-size-size {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
section .list-container .list-menu .main-menu-list-item .main-menu-size-size a p {
  margin: 1rem 1rem;
  padding: 1.5rem 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
section .list-container .list-menu .main-menu-list-item .main-menu-size-price .checkbox-info {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
}
section .list-container .list-menu .main-menu-list-item .main-menu-size-price .checkbox-info p {
  font-size: 1.3rem;
  margin: 0 1rem;
}
section .list-container .list-menu .buton-menu {
  margin-top: 2rem;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .list-container .list-menu .buton-menu button {
  margin: 0 1rem;
  padding: 1rem 2rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
section .list-container .list-menu .buton-menu button a {
  color: #000;
}
section .list-container .list-menu-item {
  width: 80%;
}
section .list-container .list-menu-item .list-prod {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  gap: 1rem;
}
section .list-container .list-menu-item .list-prod .item-prod {
  position: relative;
  overflow: hidden;
  width: 233px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-img {
  display: flex;
  width: 100%;
  position: relative;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-img a {
  width: 100%;
  display: flex;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-img a:hover {
  transform: translateX(-100%);
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .list-container .list-menu-item .list-prod .item-prod .item-img {
  position: absolute;
  top: 0;
  right: -10rem;
}
section .list-container .list-menu-item .list-prod .item-prod .item-img p {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #4e82c1;
  margin-bottom: 1rem;
}
section .list-container .list-menu-item .list-prod .item-prod .item-img span {
  font-size: 1.5rem;
  padding: 0.8rem;
  background: red;
  color: #eee;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-start {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-start p {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-start p:hover {
  color: #000;
  transform: scale(1.1);
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-name {
  text-align: center;
  margin: 1rem 1rem;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-name a {
  color: #000;
  font-size: 1.3rem;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-price p {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  color: red;
}
section .list-container .list-menu-item .list-prod .item-prod .item-prod-content .content-price span {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.list-container .list-menu-size .main-menu-list-item.active {
  display: block;
}

section .list-container .list-menu-item .list-prod .item-prod:hover .item-img {
  right: 0;
}

.footer .box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box-container .box a {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--orange);
}

.footer .box-container .credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}

.footer .box-container .credit span {
  color: var(--orange);
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}
@keyframes imageContent {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
}
@keyframes shoes {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}
@media (max-width: 1300px) {
  .main .main-container {
    margin-top: 15%;
  }
}
@media (max-width: 1200px) {
  section .list-container .list-menu {
    display: none;
  }
  header .navbar a {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  .main .main-container {
    margin-top: 20%;
  }
  section .list-container .list-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  header #menu-bar {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    z-index: 100;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
  }
  header .navbar.active {
    left: 0;
  }
  .home .slide-container .slide .image .text {
    width: 60%;
  }
  .home #prev,
  .home #next {
    top: 85%;
  }
  header .search-form {
    position: absolute;
    top: -100%;
    z-index: -1;
    left: 0;
    right: 0;
  }
  header .search-form input {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }
  header #search-btn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
  }
  header #search-btn:hover {
    color: var(--orange);
  }
  header #heart {
    display: none;
  }
  header .search-form.active {
    top: 100%;
    z-index: -1;
  }
  header .logo svg {
    margin-left: 34px;
    width: 95%;
  }
  .main .main-container {
    margin-top: 25%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .home .slide-container .slide .image {
    padding-bottom: 6rem;
  }
  .heading {
    font-size: 3rem;
  }
  .main .main-container .main-menu .main-menu-list {
    right: 32px;
  }
  .main .main-container {
    margin-top: 35%;
  }
}
@media (max-width: 500px) {
  .main .main-container {
    margin-top: 35%;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1233px) {
  section .list-container .list-menu-item .list-prod {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 1rem;
    margin-top: 10%;
  }
  section .list-container .list-menu-item {
    width: 100%;
  }
}
@media only screen and (max-width: 739px) {
  section .list-container .list-menu-item {
    width: 100%;
  }
  section .list-container .list-menu-item .list-prod {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 1rem;
    margin-top: 10%;
  }
  section .list-container .list-menu-item .list-prod .item-prod {
    padding: 0;
  }
  section .list-container .list-menu-item .list-prod .item-prod {
    width: 100%;
  }
}/*# sourceMappingURL=sanpham.css.map */